html{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://wallpaperaccess.com/full/4075611.jpg');
    background-size: cover;
    font-family: 'Marvel', sans-serif;
}

.header, .footer {
    color: #ffffff;
    padding: 5px 0;
}

.header__img{
    width: 19%;
}


.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.container__description{
    font-size: 1.2rem;
    width: 40%;
    font-weight: bold;
}
.container__btn {
    padding: 10px 20px;
    background-color: #85705e;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container__btn:hover {
    background-color: #6A513B;
}

.footer__p{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
}


span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}



@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .header__img {
    animation: 2s ease-out 0s 1 slideInFromLeft;
  }


  @media (max-width: 768px) {
    body{
        background-image: url('https://i.pinimg.com/736x/2f/7f/75/2f7f7547388867803e1741a1c23780a6.jpg');
        background-size: cover;
    }
    
    .header__img {
        width: 50%;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        background-color: #6a513be7;
        color: white;
        border-radius: 5px;
    }

    .container__description {
        width: 80%;
        text-align: center;
    }
    .footer__p{
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 1rem;
    }
}